@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(161, 161, 212);
}

.card .back-view img {
    max-width: 45px;
    cursor: pointer;
}
 
.wrapper {
    height: 400px;
    width: 400px;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

.cards {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between !important;
}

.cards, .card, .view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards .card {
    cursor: pointer;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}

.cards .card .view {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    backface-visibility: hidden;  
    transition: transform 0.25s linear;
}


.card .front-view span {
    font-size: 40px;
    color: rgb(64, 135, 243);
}

.card .back-view {
    transform: rotateY(-180deg);
}

.card:hover .back-view {
    transform: rotateY(0);
}

.card:hover .front-view {
    transform: rotateY(180deg);
}



